<h2>Features</h2>
<h3>Json</h3>
<p>Navigating to the JSON tab will give you a selections of operations on a JSON input. Current
generations supported are the following:</p>
<ul>
    <li>Json to ember data model</li>
    <li>Json to es6 Classes</li>
</ul>
<h3>Upcoming features</h3>
<ul>
    <li>Json to Typescript classes</li>
    <li>Json to Form inputs (using bootstrap/foundation).</li>
</ul>
<p>I am also looking at JSON api and will start to generate code from it.</p>