
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand"  {{action 'goToRouteIndex'}}>Home</a>
            <a class="navbar-brand" {{action 'goToRouteJson'}}>JSON tools</a>
        </div>

    </div>
</nav>
<!--<div class="jumbotron">
    <div class="container">
        <h1>Hello, world!</h1>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
    </div>
</div>-->
{{outlet}}
