{{outlet}}


<div class="container">
    <!-- Example row of columns -->
    <div class="row" style="margin-top: 40px">
        <div class="col-md-6">
            <h2>Input JSON</h2>
           {{input type="textarea" class="emberJson"}}

            <p><a class="btn btn-default" href="#" role="button">Generate ember model »</a></p>
        </div>
        <div class="col-md-6">
            <h2>Output ember data model</h2>

        </div>

    </div>

    <hr>

    <footer>
        <p>© Company 2015</p>
    </footer>
</div>
